<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{subject}</title>
</head>
<body>
<h1>Acá están tus mejores opciones {to}</h1>
{#for apartmentInfo in apartmentInfoList}
<h2>Apartamento en: {apartmentInfo.sector}</h2>
<p>
    Habitaciones: {apartmentInfo.bedrooms}
    <br/>
    Valor arriendo: {apartmentInfo.price}
    <br/>
    Valor total (Administración incluida): {apartmentInfo.price + apartmentInfo.administrationPrice}
    <br/>
    Baños: {apartmentInfo.toilets}
    <br/>
    Area total: {apartmentInfo.area} metros cuadrados
    <br/>
    Estrato: {apartmentInfo.stratum}
    <br/>
    <a href="{apartmentInfo.url}"> Link al apartamento</a>
</p>
{/for}
</body>
</html>